.vegetable{width: 100px;
    height: 100px;
background: none;
border: 1px solid #203624;
font-size: 0.7rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 15px;
font-family: Permanent Marker;;

margin: 10px;}

.vegetableImg{width: 60px;
    padding: 5px;
margin: 0 auto;}