.vegetable {
  box-sizing: border-box;
  width: 150px;
  height: 150px;
  background: none;
  border: 1px solid #203624;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  font-family: Permanent Marker;

  margin: 5px;

  .vegetableVisuals{display: flex;
    transition: 1s;

}
  
  .progressBar{display: flex;
    flex-direction: column;
    justify-content: center;
    }
margin: 10px;
    .barSemi{background: rgb(241, 220, 22);
        border-radius: 5px;
        width: 20px;
        height: 30px;
        margin-top: 10px;
        }
    .barPlant{background: green;
            width:20px;
            border-radius: 5px;
            height: 30px;;
            margin-top: 10px;
            }
    .barHarvest{background: rgb(1, 73, 1);
                width:20px;
                border-radius: 5px;
                height: 30px;
                margin-top: 10px;
                }
        
    
}


  





.vegetableImg {
  width: 80px;
  padding: 5px;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .vegetable {
    width: 170px;
    height: 170px;
    font-size: 1.2rem;
    margin: 8px;
  }

  .vegetableImg {
    width: 120px;
  }
}

@media (min-width: 1024px) {
  .vegetable {
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    background: none;
    border: 1px solid #203624;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-family: Permanent Marker;

    margin: 10px;
  }

  .vegetableImg {
    width: 150px;
    padding: 5px;
    margin: 0 auto;
  }
}
