.vegetable{width: 100px;
    height: 100px;
background: none;
border: 1px solid #203624;
font-size: 0.7rem;
border-radius: 15px;
margin: 10px;}

.vegetableImg{width: 70px; 
    padding: 15px;
margin: 0 auto;}