.todo--container {
    margin: 20px;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
   

    ul{list-style: none;
    
    li{margin: 10px;}
  }

  }

  .toDoZone {
    margin: 10px;
  }
  
  .task{margin-left: 20px;}

  .task-container{display: flex;
  flex-direction: column;
background: #e8ddd1;;
width: 60%;
border-radius: 20px;
padding: 20px;
justify-content: center;
font-family: Poppins;}

.TaskChecker{height:20px; width: 20px;
border-radius: 5px;
margin-left: 10px;}