

.Signin{
    padding: 0 30px;
     margin: 0 ;
     margin-top: 100px;
     margin-bottom: 100px;
    height: 80vh;
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h3{font-size: 2rem;
    padding-bottom: 50px;}
    form{
        margin : auto;
        border-radius: 5px;
        border: 4px solid #dbd1c5;
        background: rgba(241, 241, 241, 0.575);
        width: 90%;
        height: 900px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    input{
        font-size: 1rem;
        border-radius: 15px;
        width: 80%; 
        border: none;
        padding: 10px;
        margin: 10px;
    }
    button{

        cursor: pointer;
        color : black;
        border: none;
        background: none;;
        background-image: url("../../assets/bouton1.png");
        background-size: 10rem;
        background-position: center;
        background-repeat: no-repeat; 
        font-weight: 600;
        font-size: 1.5rem;
        padding : 10px;
        height: 50px;
    }

    span{color: red
    }
}


.Signin {
 

    @media (min-width: 600px) {
        width: 100%;
        margin : 100px auto;

        form {
            width: 60%;
            margin : 100px auto
        }

        input {
            font-size: 2rem;
        }
    }
}

