#root{
    background-color: #203624;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background:#e8ddd1;
    height: 30px
}

.navbar-link{
    color: black;
}
