#root{
    background-color: #203624;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background:#e8ddd1;
    height: 50px;
    font-family: poppins;
    font-weight: bold;
}

.navbar-link{
    &:hover {
        color:  black;
      }
}



@media only screen and (min-width: 601px) {
    .navbar-link{
        &:hover {
            color:  #89a57c;
          }
    }
    
  }
